@page "/notes"
@using NoteApp.Web.Components.Contexts.NotesContext
@layout NotesLayout

<MudAppBar Elevation="1">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
    <MudSpacer />
    <MudMenu  ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
        <ActivatorContent>
            <MudAvatar Color="Color.Primary">M</MudAvatar>
        </ActivatorContent>
        <ChildContent>
            <MudNavMenu >
                <MudNavLink Disabled="true">Profile</MudNavLink>
                <MudNavLink OnClick="Logout">Logout</MudNavLink>
            </MudNavMenu>
        </ChildContent>
    </MudMenu>
</MudAppBar>
<CascadingValue Value="@_token">
    <MudDrawer @bind-Open="@_open" Width="350px" ClipMode="_clipMode" Elevation="1" Variant="@DrawerVariant.Responsive">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">My App</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
                <div class="search-note">
                    <MudTextField
                        @bind-Value="SearchText"
                        Variant="Variant.Outlined"
                        Margin="Margin.Dense"
                        Adornment="Adornment.End"
                        AdornmentIcon="@Icons.Material.Filled.Search"
                        AdornmentColor="Color.Primary"
                        Immediate="true"
                        TextChanged="OnSearchTextChanged">
                    </MudTextField>
                </div>
                <div class="create-note">
                    <h3>@_amountOfNotes Nota(s)</h3>
                    <MudIconButton 
                        @onclick="CreateNote" 
                        Size="Size.Small" 
                        Variant="Variant.Outlined" 
                        Icon="@Icons.Material.Filled.Add" 
                        Color="Color.Success"></MudIconButton>
                </div>
                <NoteCard 
                    SetAmountNotes="SetAmountNotes" 
                    OnDataSend="HandleData" 
                    Notes="FilteredNotes"/>
                <div style="display: flex; justify-content: center;">
                    <MudIconButton
                        @onclick="LoadNotes"
                        Size="Size.Medium"
                        Color="Color.Dark"
                        Icon="@Icons.Material.Filled.Add">
                    </MudIconButton>    
                </div>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Style="height: 100vh" Class="pt-16 px-16">
        <MudContainer Style="height: 80vh" MaxWidth="MaxWidth.ExtraExtraLarge">
            <NotesEditor
                UpdateNoteList="UpdateNoteList"
                Note="_receivedNote">
            </NotesEditor>
        </MudContainer>
    </MudMainContent>
</CascadingValue>
